*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.top-head{
    height: 100px;

    background-image: url("../img/pattern.png");
    /* background-repeat: repeat; */
    background-size: 30%;
    background-color: #35a0e2;

    position: relative;
}

#logo{
    width: 40%;
    height: 40%;

    position: absolute;
    bottom: 0;
    left: -150px; /*?*/
}

header h1{
    margin-top: 10px;
}

.container{
    margin: 0 10px;
}


/* didascalia sotto titolo e immagine */
.under-text{
    font-size: 14px;
    text-decoration: none;
}

.under-text a{
    text-decoration: none;
}
.date{
    font-size: 8px;
}

/* Immagini */
.tim-images{
    height: 250px;
    margin-top: 10px;
}
.tim-images > img{
    height: 100%;
    width: auto;
}