*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.top-head{
    height: 100px;

    background-image: url("../img/pattern.png");
    /* background-repeat: repeat; */
    background-size: 30%;
    background-color: #35a0e2;

    position: relative;
}

#logo{
    width: 40%;
    height: 40%;

    position: absolute;
    bottom: 0;
    left: -150px;
}

header h1{
    margin-top: 10px;
}

.container{
    margin: 10px;
}
main .container{
    margin-top: 20px;
}


/* didascalia sotto titolo e immagine */
.under-text{
    font-size: 14px;
    text-decoration: none;
}

.under-text a{
    text-decoration: none;
}
.date{
    font-size: 8px;
}

/* Immagini */
.tim-images{
    height: 250px;
    margin-top: 10px;
}
.tim-images > img{
    height: 100%;
    width: auto;
}

/* MAIN  */
.highlighted{
    background-color: #ffd900;
}

.un-list > li{
    margin-left: 10px;
}

/* tabella */
table{
    width: 100%;
    border-collapse: collapse;
}

thead > tr{
    background-color: #35a0e2;
}

.blue-row{
    background-color: lightblue;
}

.t-cell{
    width: 25%;
}

.t-text{
    width: 50%;
}

/* FOOT PAGE IMAGE  */
.foot-page-img > div{
    width: 150px;
    height:100px;

    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 10px;
}

#img_1{
    background-image: url("../img/monitor.jpg");
}

#img_2{
    background-image: url("../img/graph.jpg");
}
